<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css">
<%- include('../partials/nav') %>
<main>
<h1> Recent Posts </h1>
<% blogs.forEach(blog => { %>
<a href="/blogs/<%= blog._id %>"<%= blog.title %>>
  <button class="button-23" role="button"><%= blog.title %> - <%= blog.author.name %></button>
</a><br>
<% }) %>
</main>
<%- include('../partials/footer') %>
