<%- include('../partials/html-head') %>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <%- include('../partials/nav') %>
    <main>
      <h1>
        <%= blog.title %> - <a href="/profiles/<%= blog.author.id %>"><%= blog.author.name %></a>
      </h1>
      <section id="blog Post">
        <p id="Author">
          <img src="<%= blog.author.avatar %>">
          <br>
          <a href="/<%  %>"></a>
        </p>
        <p>
          <%= blog.content %>
          <% if (blog.author.equals(user?.profile._id)) { %>
            <a href="/blogs/<%= blog._id %>/edit">
              <button id="Direct"><i class="fa-sharp fa-solid fa-pen-to-square"></i></button>
            </a>
            <% } %>
        </p>
        <h2 id="Comment">Comments</h2>
        <% if (user) {%>
          <ul id="Comment">
            <% blog.comments?.forEach(comment=> { %>
              <li id="commentEdits">
                <%= comment.content %> - <%= comment.author.name %>
                    <% if (comment.author.equals(user?.profile)) { %>
                      <form action="/blogs/<%= blog._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST"
                        class="inline">
                        <button id="Direct" type="submit"><i id="commentbtns"
                            class="fa-regular fa-trash fa"></i></button>
                      </form>
                      <form action="/blogs/<%= blog._id %>/comments/<%= comment._id %>/edit">
                        <button id="Direct" type="submit"><i id="commentbtns" class="fa-sharp fa-solid fa-pen-to-square"></i></button>
                      </form>
                      <% } %>
              </li>
              <% }) %>
          </ul>
          <form id="CommentSubmission" action="/blogs/<%= blog._id %>/comments" method="POST">
            <textarea id="contentarea" name="content">Write Your Comment Here</textarea><br>
            <button id="Direct"><i class="fa-solid fa-comment"></i></button>
          </form>
          <% } %>
            </div>
      </section>
    </main>



    <%- include('../partials/footer') %>