<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css">
<%- include('../partials/nav') %>
<main>
<h1> blogs Show View of : <% title %> </h1>
<section>
  <div>Title: <%= blog.title %>
    <% if (blog.creator.equals(user?.profile._id)) { %>
    <a href="/blogs/<%= blog._id %>/edit">
      <button>Edit Post</button>
    </a>
    <% } %>
  </div>
    
  <div>
    <%= blog.content %>    
  </div>
</section>
</main>



<%- include('../partials/footer') %>
