<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css">
<%- include('../partials/nav') %>
<main>
<h1> Profiles</h1>

<% profiles.forEach(profile => { %>
<a id="ProfileList" href="/profiles/<%= profile._id %>"><%= profile.name %> </a><img src="<%= profile.avatar %>"><br>
<% }) %>
</main>
<%- include('../partials/footer') %>
