<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css">
<%- include('../partials/nav') %>
<main>
<h1> Profile Show View of : <%= profile.name %> </h1>
<img src="<%= profile.avatar %>" alt="">

<section>
  <div>
  <%= profile.blogPosts %>
  </div>

</section>
</main>
<%- include('../partials/footer') %>
