<%- include('./partials/html-head') %>

<%- include('./partials/nav') %>

<main>
  <h1>Welcome <%= user ? user.profile.name : "" %></h1>
  <h2> Access Recent Post or View Profiles <br>
    <br>
  <a id="ProfileList" href="/profiles">Profile List</a>
  <a id="ProfileList" href="/blogs/">Recent Posts</a>
</h2>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
    
  <% } %>

</main>

<%- include('./partials/footer') %>
